altgraph==0.17.2
certifi==2020.12.5
dpkt==1.9.7.2
future==0.18.2
importlib-metadata==4.8.2
IPy==1.1
pefile==2021.9.3
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
pypcap==1.2.1
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pywin32-ctypes==0.2.0
typing-extensions==4.0.0
wincertstore==0.2
winpcapy==1.0.2
zipp==3.6.0
